*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,700&display=swap');

.main{

    height: 100vh;
    background-image: url('background.png');
    background-position: center center;
    background-size: cover;

}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(104, 61, 61, 0.8);
    display: flex;
    /* justify-content: center; */

    flex-direction: column;
    color: white;

}

.title {
    margin-top: 10px;

    color: aliceblue;
    text-align: center;
    font-size: 2.5rem;
}

.col{
    width: 1000px;
    height: 100px;
    /* border: 2px solid pink; */
    margin: 10px auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center; 

}

input{
    margin-top: 50px;
    height: 50px;
    width: 150px;
    display: block;
    background-color:rgb(219, 240, 231) ;
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    

}